@model AccountActivationModel
@{
    Layout = "~/Views/Shared/_Container.cshtml"; //default layout
    Html.AddTitleParts("Password Recovery");
}
<div class="loginContainer">
    <div class="form-row row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="page-header">
                    <h4 class="blue">
                        Reset password for @Model.ContactName</h4>
                </div>
            </div>
        </div>
    </div>    
    <div class="form-row">
        @Html.Partial("_Notifications")
    </div>
    @using (Html.BeginRouteForm(SystemRouteNames.PasswordRecoveryConfirm, FormMethod.Post, new { @id = "loginForm", @name = "loginForm", @class = "form-horizontal" }))
    {
        <div class="form-row row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    @Html.LabelFor(m => m.Password, new { @class = "span12" }, "<span class=\"icon16 icomoon-icon-lock right gray marginR10\"></span>")
                    @Html.PasswordFor(m => m.Password, new { @class = "span12", tabindex = 2, placeholder = "***********" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
        </div>
        <div class="form-row row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "span12" }, "<span class=\"icon16 icomoon-icon-lock right gray marginR10\"></span>")
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span12", tabindex = 2, placeholder = "***********" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>
        <div class="form-row row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="form-actions">
                        <div class="span12 controls">
                            @Html.HiddenFor(m => m.Token)
                            @Html.HiddenFor(m => m.UserId)
                            <button type="submit" class="btn btn-info right" name="set-password" value="set-password" id="set-password">
                                <span class="icon16 icomoon-icon-lock white"></span>Recover</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Partial("_Copyright")
</div>
@section inlineScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").addClass("loginPage");
            $("input, textarea, select").not('.nostyle').uniform();
        });
    </script>
}
