@model PasswordRecoveryModel
@{
    Layout = "~/Views/Shared/_Container.cshtml"; //default layout
    Html.AddTitleParts("Password recovery");
}
<div class="loginContainer">
    <div class="form-row row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="page-header">
                    <h4 class="blue">
                        Password recovery</h4>
                </div>
            </div>
        </div>
    </div>    
    <div class="form-row">
        @Html.Partial("_Notifications")
    </div>
    @using (Html.BeginRouteForm(SystemRouteNames.PasswordRecovery, FormMethod.Post, new { @id = "loginForm", @name = "loginForm", @class = "form-horizontal" }))
    {
        <div class="form-row row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    @Html.LabelFor(m => m.UserName, new { @class = "span12" }, "<span class=\"icon16 icomoon-icon-user right gray marginR10\"></span>")
                    @Html.TextBoxFor(m => m.UserName, new { @class = "span12", tabindex = 1})
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
        </div>
        <div class="form-row row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="form-actions">
                        <div class="span12 controls">
                            <a href="@Url.RouteUrl(SystemRouteNames.Login)"><span class="icon16 icomoon-icon-arrow-left-4 green"></span> Back to login</a>
                            <button type="submit" class="btn btn-info right" name="send-email" value="send-email" id="send-email">
                                <span class="icon16 icomoon-icon-lock white"></span>Recover</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Partial("_Copyright")
</div>
@section inlineScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").addClass("loginPage");
            $("input, textarea, select").not('.nostyle').uniform();
        });
    </script>
}
