@model SystemInfoModel
@{
    var pageHeading = T("PageTitle.SystemInfo").Text;
    Html.AddTitleParts(pageHeading);
    ViewBag.Heading = pageHeading;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box">
            <div class="title">
                <h4>
                    <span class="icon16 icomoon-icon-list-2 red"></span><span>&nbsp;</span>
                </h4>
                <a href="#" class="minimize">Minimize</a>
            </div>
            <div class="content">
                <dl class="dl-horizontal">
                    <dt>@Html.LabelTextFor(m => m.SiteVersion)</dt>
                    <dd>@Html.DisplayTextFor(m => m.SiteVersion)</dd>
                    <dt>@Html.LabelTextFor(m => m.OperatingSystem)</dt>
                    <dd>@Html.DisplayTextFor(m => m.OperatingSystem)</dd>
                    <dt>@Html.LabelTextFor(m => m.AspNetInfo)</dt>
                    <dd>@Html.DisplayTextFor(m => m.AspNetInfo)</dd>
                    <dt>@Html.LabelTextFor(m => m.IsFullTrust)</dt>
                    <dd>@Html.DisplayTextFor(m => m.IsFullTrust)</dd>
                    <dt>@Html.LabelTextFor(m => m.ServerTimeZone)</dt>
                    <dd>@Html.DisplayTextFor(m => m.ServerTimeZone)</dd>
                    <dt>@Html.LabelTextFor(m => m.ServerLocalTime)</dt>
                    <dd>@Model.ServerLocalTime.ToString("F")</dd>
                    <dt>@Html.LabelTextFor(m => m.UtcTime)</dt>
                    <dd>@Model.UtcTime.ToString("F")</dd>
                </dl>
            </div>
        </div>
        <!-- End .box -->
    </div>
</div>
